doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title SHT - Start HTML Template
    meta(name='description', content='Startup template for front-end developer')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    meta(name='theme-color', content='#cf4647')
    link(rel='stylesheet' type='text/css' href='dist/css/style.css')

  body

    header.header
      h1.title
        | SHT
      .sub-title
        | Start HTML Template
