white = #ffffff
mainColor = #cf4647

body
  margin 0
  font-family Arial,sans-serif
  line-height 1.43
  color #000

.header
  position relative
  width 100%
  height 100vh
  background-color mainColor
  display flex
  align-items center
  justify-content center
  flex-direction column

.h1,
.sub-title
  color white

.h1
  margin 5px 0
  font-size 44px
  font-weight 400

.h2
  margin-top 0
  text-align center
  font-weight 400

.sub-title
  font-size 20px

.github
  position absolute
  right 0
  top 0
  height 80px
  width 80px
  border-bottom 0
  text-decoration none
  z-index 1
  fill white
  &hover .octo-arm
    animation anim .56s ease-in-out

.octo-arm,
.octo-body
  color mainColor

@keyframes anim
  0%,to
    transform rotate(0)

  20%,60%
    transform rotate(-25deg)

  40%,80%
    transform rotate(10deg)

.scroll
  position absolute
  bottom 30px
  width 30px
  height 50px
  border 2px solid #fff
  border-radius 50px
  box-sizing border-box
  &::before
    position absolute
    top 10px
    left 50%
    content ""
    width 6px
    height 6px
    margin-left -3px
    background-color #fff
    border-radius 100%
    animation scroll 2s infinite
    box-sizing border-box

@keyframes scroll
  0%
    transform translate(0, 0)
    opacity 0

  40%
    opacity 1

  80%
    transform translate(0, 20px)
    opacity 0

  100%
    opacity 0
    
.macbook
  max-width 650px
  min-width 50px
  margin 0 auto

.macbook-position
  width 80%
  margin 0 auto
  box-shadow inset 0 2px 7px 1px rgba(255,255,255,.5), inset 0 -5px 20px rgba(187,200,225,.35), 0 2px 6px rgba(40,39,66,.14), 0 10px 20px rgba(40,39,66,.06), 76px 75px 169px -35px rgba(0,0,0,.4)
.macbook-display
  position relative
  width 100%
  height 0
  padding-bottom 65.9442%
  background #373435
  border-top-left-radius 3.5% 5.3075%
  border-top-right-radius 3.5% 5.3075%
  &::before
    content ''
    display block
    position absolute
    top 3%
    left 50%
    width 1%
    height 1.5164%
    margin-left -0.5%
    border-radius 50%
    background #525252
  &::after
    content ''
    position absolute
    right 0.4%
    top 0.64%
    width 62.5%
    height 100%
    background none
    background linear-gradient(55deg, rgba(0, 0, 0, 0) 61%, rgba(255, 255, 255, 0.05) 61%)
    border-top-right-radius 5.3075%
    z-index 0

.macbook-screen-position
  position absolute
  top 6.5%
  width 93.2%
  left 3.4%
  height 0
  margin 0
  padding-bottom 58.25%
  z-index 1

.macbook-screen
  position absolute
  top 0
  left 0
  right 0
  bottom 0
  overflow hidden
  background-color #002b36
  color white
  padding 10px
  p
    margin 0
    color #85ff00

.macbook-body
  position relative
  width 100%
  height 0
  padding-bottom 2.3%
  background #e6e7e8
  &::before
    content ''
    display block
    position absolute
    top 0
    left 50%
    width 14.0740%
    height 0
    padding-bottom 1.4814%
    margin-left -7.037%
    background #a9abae
    border-bottom-left-radius 7.0370% 50%
    border-bottom-right-radius 7.0370% 50%
    
.macbook-bottom-cover
  width 100%
  height 0
  padding-bottom 0.7407%
  background #a9abae
  border-bottom-left-radius 12% 600%
  border-bottom-right-radius 12% 600%

section
  padding 60px 15px

.tasks
  background-color #565c94
  h2
    color white

  ul
    margin 0
    padding 0
    list-style-type none
    text-align center

  li
    display inline-block
    vertical-align top
    color white
    width 33%
    padding 10px 0

.window
  max-width 547px
  margin auto
  background GhostWhite
  border-radius 0.3rem
  box-shadow 0 8px 12px rgba(0, 0, 0, 0.1)
  overflow hidden

.window-header
  height 37px
  background #dcdcdc
  position relative

.window-header-buttons
  position absolute
  top 50%
  left 10px
  margin-top -5px
  width 10px
  height 10px
  background #dc143c
  border-radius 50%
  box-shadow 15px 0 0 orange, 30px 0 0 #32cd32

.window-body
  position relative
  height 300px

.footer
  padding 60px 15px
  background-color mainColor
  text-align center
  svg
    fill white